<!DOCTYPE html>
<body>
通話が完了しました。<br /><a href='./index.html' target='_top'>[戻る]</a></body>
<script>
	window.parent.document.getElementById('controller').style.visibility = 'hidden';

</script>
</html>